@media screen and (orientation: portrait){
    .img-block{
        flex-grow: 1;
        margin: 0px;
        background-color: white;
        height: 25vh;
        max-height: 125px;
        margin-top: 10px;
        position: relative;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .img-src{
        height: 100%;
        object-fit: contain;
        position: relative;
    }        
}
@media screen and (orientation: landscape){
    .img-block{
        flex-grow: 1;
        margin: 0px;
        background-color: white;
        height: 30vh;
        max-height: 125px;
        margin-top: 10px;
        position: relative;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .img-src{
        height: 100%;
        object-fit: contain;
        position: relative;
    }        
}


@media screen and (min-width: 769px){
    .img-block{
        flex-grow: 1;
        margin: 0px;
        background-color: white;
        max-height: 190px;
        height: 37.5vh;
        margin-top: 30px;
        position: relative;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .img-src{
        height: 100%;
        object-fit: contain;
        position: relative;
    }  
}

@media screen and (min-width: 1024px){
    
}

@media screen and (min-width: 1216px){
    .img-block{
        flex-grow: 1;
        margin: 0px;
        background-color: white;
        max-height: 350px;
        height: 43vh;
        margin-top: 90px;
        position: relative;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .img-src{
        height: 100%;
        object-fit: contain;
        position: relative;
    } 
}

@media screen and (min-width: 1408px){
    .img-block{
        flex-grow: 1;
        margin: 0px;
        background-color: white;
        max-height: 390px;
        height: 50vh;
        margin-top: 90px;
        position: relative;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .img-src{
        height: 100%;
        object-fit: contain;
        position: relative;
    }
}

