.btn:focus{
  outline: none!important;
  outline-offset: none!important;
}
@media (orientation: portrait){
  .top{
    height: 80px;
    width: 100%;
    background-color: transparent;
    margin-left: 0px;
  }
  .progress{
    margin: auto auto auto auto;
    color: #335EEA;
  }
  .separator{
    height: 1vh;
    width: 100%;
    background-color: transparent;
  }
  .mid{
    height: 350px;
    width: 100%;
    background-color: transparent;
  }
  .bottom{
    height: 275px;
    width: 100%;
    background-color: transparent;
  }
  .card{
    height: 350px;
    width: 350px;
    margin: 0 auto 0 auto;
    border-radius: 7.5px;
    box-shadow: 0px 0px 3px 3px #d3d3d3;
    background-color: white;
  }
  .list-card{
    height: 275px;
    width: 275px;
    margin: 0 auto 0 auto;
    border-radius: 7.5px;
    box-shadow: 0px 0px 3px 3px #d3d3d3;
    background-color: white;
  }
  .button{
    background-color: #335EEA;
    border-color:#335EEA;
    color: white;
    font-weight: 400;
    font-size: 21px;
    height: 45px;
    width: 100%;
  }
  .list-item{
    height: 80px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 3px 3px #d3d3d3;
    border-radius: 7.5px;
    position: relative;
  }
  .remove-button{
    color: white;
    background-color: red;
    width: 90px;
    height: 40px;
    margin: 0 auto 0 auto;
    margin-top: 20px;
    margin-right: 10px;
    right: 0px;
    position: absolute;
    display: inline-block;
  }
  .f1-list{
    color: black;
    position: absolute;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  .f2-list{
    color: black;
    position: absolute;
    margin-top: 40px;
    margin-left: 10px;
    font-size: 17px;
  }
}
@media (orientation: landscape){
  .top{
    height: 150px;
    width: 100%;
    background-color: transparent;
  }
  .progress{
    margin: auto auto auto auto;
    color: #335EEA;
  }
  .separator{
    height: 1vh;
    width: 100%;
    background-color: transparent;
  }
  .mid{
    height: 350px;
    width: 100%;
    background-color: transparent;
  }
  .bottom{
    height: 275px;
    width: 100%;
    background-color: transparent;
  }
  .card{
    height: 350px;
    width: 350px;
    background-color: transparent;
    margin: 0 auto 0 auto;
    border-radius: 7.5px;
    box-shadow: 0px 0px 3px 3px #d3d3d3;
    background-color: white;
  }
  .list-card{
    height: 275px;
    width: 275px;
    margin: 0 auto 0 auto;
    border-radius: 7.5px;
    box-shadow: 0px 0px 3px 3px #d3d3d3;
    background-color: white;
  }
  .button{
    background-color: #335EEA;
    border-color:#335EEA;
    color: white;
    font-weight: 400;
    font-size: 21px;
    height: 45px;
    width: 100%;
  }
  .list-item{
    height: 80px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 3px 3px #d3d3d3;
    border-radius: 7.5px;
    position: relative;
  }
  .remove-button{
    color: white;
    background-color: red;
    width: 90px;
    height: 40px;
    margin: 0 auto 0 auto;
    margin-top: 20px;
    margin-right: 10px;
    right: 0px;
    position: absolute;
    display: inline-block;
  }
  .f1-list{
    color: black;
    position: absolute;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  .f2-list{
    color: black;
    position: absolute;
    margin-top: 40px;
    margin-left: 10px;
    font-size: 17px;
  }
}
@media (min-width: 576px) {  
  .top{
    height: 60px;
    width: 100%;
    background-color: transparent;
  }
  .separator{
    height: 1vh;
    width: 100%;
    background-color: transparent;
  }
  .mid{
    height: 350px;
    width: 100%;
    background-color: transparent;
  }
  .bottom{
    height: 275px;
    width: 100%;
    background-color: transparent;
  }
  .card{
    height: 350px;
    width: 350px;
    margin: 0 auto 0 auto;
    border-radius: 7.5px;
    box-shadow: 0px 0px 3px 3px #d3d3d3;
    background-color: white;
  }
  .list-card{
    height: 275px;
    width: 275px;
    margin: 0 auto 0 auto;
    border-radius: 7.5px;
    box-shadow: 0px 0px 3px 3px #d3d3d3;
    background-color: white;
  }
  .button{
    background-color: #335EEA;
    border-color: #335EEA;
    color: white;
    font-weight: 400;
    font-size: 21px;
    height: 45px;
    width: 100%;
  }
  .list-item{
    height: 80px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 3px 3px #d3d3d3;
    border-radius: 7.5px;
    position: relative;
  }
  .remove-button{
    color: white;
    background-color: red;
    width: 90px;
    height: 40px;
    margin: 0 auto 0 auto;
    margin-top: 20px;
    margin-right: 10px;
    right: 0px;
    position: absolute;
    display: inline-block;
  }
  .f1-list{
    color: black;
    position: absolute;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  .f2-list{
    color: black;
    position: absolute;
    margin-top: 40px;
    margin-left: 10px;
    font-size: 17px;
  }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .top{
    height: 60px;
    width: 100%;
    background-color: transparent;
  }
  .separator{
    height: 1vh;
    width: 100%;
    background-color: transparent;
  }
  .mid{
    height: 350px;
    width: 100%;
    background-color: transparent;
  }
  .bottom{
    height: 275px;
    width: 100%;
    background-color: transparent;
  }
  .card{
    height: 350px;
    width: 350px;
    background-color: transparent;
    margin: 0 auto 0 auto;
    border-radius: 7.5px;
    box-shadow: 0px 0px 3px 3px #d3d3d3;
    background-color: white;
  }
  .list-card{
    height: 275px;
    width: 275px;
    margin: 0 auto 0 auto;
    border-radius: 7.5px;
    box-shadow: 0px 0px 3px 3px #d3d3d3;
    background-color: white;
  }
  .button{
    background-color: #335EEA;
    border-color: #335EEA;
    color: white;
    font-weight: 400;
    font-size: 21px;
    height: 45px;
    width: 100%;
  }
  .list-item{
    height: 80px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 3px 3px #d3d3d3;
    border-radius: 7.5px;
    position: relative;
  }
  .remove-button{
    color: white;
    background-color: red;
    width: 90px;
    height: 40px;
    margin: 0 auto 0 auto;
    margin-top: 20px;
    margin-right: 10px;
    right: 0px;
    position: absolute;
    display: inline-block;
  }
  .f1-list{
    color: black;
    position: absolute;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  .f2-list{
    color: black;
    position: absolute;
    margin-top: 40px;
    margin-left: 10px;
    font-size: 17px;
  }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .top{
    height: 100px;
    width: 100%;
    background-color: transparent;
  }
  .separator{
    height: 1vh;
    width: 100%;
    background-color: transparent;
  }
  .mid{
    height: 350px;
    width: 100%;
    background-color: transparent;
  }
  .bottom{
    height: 275px;
    width: 100%;
    background-color: transparent;
  }
  .card{
    height: 350px;
    width: 350px;
    background-color: transparent;
    margin: 0 auto 0 auto;
    border-radius: 7.5px;
    box-shadow: 0px 0px 3px 3px #d3d3d3;
    background-color: white;
  }
  .list-card{
    height: 275px;
    width: 275px;
    margin: 0 auto 0 auto;
    border-radius: 7.5px;
    box-shadow: 0px 0px 3px 3px #d3d3d3;
    background-color: white;
  }
  .button{
    background-color: #335EEA;
    border-color: #335EEA;
    color: white;
    font-weight: 400;
    font-size: 21px;
    height: 45px;
    width: 100%;
  }
  .list-item{
    height: 80px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 3px 3px #d3d3d3;
    border-radius: 7.5px;
    position: relative;
  }
  .remove-button{
    color: white;
    background-color: red;
    width: 90px;
    height: 40px;
    margin: 0 auto 0 auto;
    margin-top: 20px;
    margin-right: 10px;
    right: 0px;
    position: absolute;
    display: inline-block;
  }
  .f1-list{
    color: black;
    position: absolute;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  .f2-list{
    color: black;
    position: absolute;
    margin-top: 40px;
    margin-left: 10px;
    font-size: 17px;
  }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .progress{
    margin: auto auto auto auto;
    color: #335EEA;
  }
  .top{
    height: 60px;
    width: 100%;
    background-color: transparent;
  }
  .separator{
    height: 1vh;
    width: 100%;
    background-color: transparent;
  }
  .mid{
    height: 350px;
    width: 100%;
    background-color: transparent;
  }
  .bottom{
    height: 275px;
    width: 100%;
    background-color: transparent;
  }
  .card{
    height: 350px;
    width: 350px;
    color: black;
    margin: 0 auto 0 auto;
    border-radius: 7.5px;
    box-shadow: 0px 0px 3px 3px #d3d3d3;
    background-color: white;
  }
  .list-card{
    height: 275px;
    width: 275px;
    margin: 0 auto 0 auto;
    border-radius: 7.5px;
    box-shadow: 0px 0px 3px 3px #d3d3d3;
    background-color: white;
  }
  .button{
    background-color: #335EEA;
    border-color: #335EEA;
    color: white;
    font-weight: 400;
    font-size: 19px;
    height: 45px;
    width: 100%;
  }
  .list-item{
    height: 60px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 3px 3px #d3d3d3;
    border-radius: 7.5px;
    position: relative;
  }
  .remove-button{
    color: white;
    background-color: red;
    width: 80px;
    height: 35px;
    margin: 0 auto 0 auto;
    margin-top: 15px;
    margin-right: 10px;
    right: 0px;
    font-size: 15px;
    position: absolute;
    display: inline-block;
  }
  .f1-list{
    color: black;
    position: absolute;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  .f2-list{
    color: black;
    position: absolute;
    margin-top: 40px;
    margin-left: 10px;
    font-size: 17px;
  }
}
html {
  /* this makes sure the padding and the border is included in the box sizing */
  box-sizing: border-box;
  background-color: #F1F2F3;
}

html body {
  padding: 0;
  margin: 0;
  background-color: #F1F2F3;
}